body {
  margin: 0;
  font-family: Arial;
  overflow-y: scroll;
}

/* --- Fondo general --- */
.Statistics-container {
  background-color: #79438c;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

/* --- Contenido central --- */
.Statistics-content {
  background-color: #9d6baa;
  margin: 2rem auto;
  padding: 2.5rem 3rem;
  border-radius: 10px;

  width: 90%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.Statistics-form-title {
  font-size: 2.2rem;
  text-align: center;
}

.Statistics-form-subtitle {
  text-align: center;
}

/* --- Tabla --- */
.tabla-container {
  overflow-x: auto;
  border-radius: 10px;
}

.tabla-incidentes {
  width: 100%;
  border-collapse: collapse;
  background-color: #a26eb7;
  border-radius: 10px;
  overflow: hidden;
}

.tabla-incidentes thead th {
  background: #8d52a0;
  padding: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  position: sticky;
  top: 0;
  border: 1px solid #b98ed2;
}

.tabla-incidentes td {
  padding: 0.8rem;
  border: 1px solid #b98ed2;
  max-width: 180px;
  word-wrap: break-word;
}

.tabla-incidentes tbody tr:nth-child(even) {
  background: #9d6baa;
}

.tabla-incidentes tbody tr:nth-child(odd) {
  background: #a873c0;
}

.tabla-incidentes tbody tr:hover {
  background-color: #b582ce;
  transition: 0.2s;
  cursor: pointer;
}

.btn-edit {
  background-color: #6a1b9a; 
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 6px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease, transform 0.15s ease;
}

.btn-edit:hover {
  background-color: #7b2bb0;
  transform: scale(1.05);
}

.btn-edit:active {
  transform: scale(0.95);
}

.btn-delete {
  background-color: #d9534f;   
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease, transform 0.15s ease;
}

.btn-delete:hover {
  background-color: #c9302c;
  transform: scale(1.05);
}

.btn-delete:active {
  transform: scale(0.95);
}
