.statistics-view {
  width: 100%;
  min-height: 100vh;
  background: #f9f7ff;
  padding-bottom: 3rem;
}

.statistics-charts-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.page-title {
  text-align: center;
  margin-top: 1.5rem;
  color: #4c1d95;
  font-size: 2rem;
  font-weight: bold;
}

.page-subtitle {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #6b7280;
}

.chart-box {
  background: white;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0px 4px 10px #cfc7ff;
  margin-bottom: 2rem;
}

.chart-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #4c1d95;
  font-size: 1.3rem;
}
